/* CSS Heavily inspired by Dash Plotly sample dashboard here: https://dash-gallery.plotly.host/dash-oil-and-gas/ */

.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #f0f0f0;
  margin: 5%;
}

.slider{
  margin-bottom: 40px;
}

.download-button{
  position: relative;
  top: 20px;
}

.column,
.columns {
  margin-left: 0.5%;
  width: auto;
}

.pretty_container_bg {
  border-radius: 5px;
  background-color: #f6f6f6;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.pretty_container {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  text-align: center;
  height: 100%;
}

.mini_container {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  flex: 1;
}

.flex-display {
  display: flex;
}

.content_holder {
  margin-left: 0;
  margin-right: 0;
}

.description{
  text-align: left;
}

.right-column {
  display: flex;
  flex-direction: column;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#title {
  text-align: center;
}

#header {
  align-items: center;
}


